body{
  font-family: Arial;
  background: #222;
  color:#fff;
  text-align:center;
}
.calculator{
  padding:20px;
  background:#333;
  width:250px;
  margin:auto;
  border-radius:10px;
}
input{
  width:100%;
  height:40px;
  font-size:20px;
  margin-bottom:10px;
  text-align:right;
}
.keys{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:15px;
}
button{
  padding:12px;
  font-size:18px;
  border:none;
  border-radius:6px;
  background:#555;
  color:white;
}
#clear{
  width:100%;
  margin-top:10px;
  background:#c00;
}
.button-row {
  display: flex;
  gap: 10px; /* space between buttons */
}
.button-row button {
  flex: 1; /* makes both buttons equal width */
  padding: 15px;
  font-size: 18px;
  border: none;
    margin-top: 10px;   
  border-radius: 8px;
  cursor: pointer;
}